/* =============================================================================
 * Rozne
 * ========================================================================== */

.container {
  max-width: $xlarge-width;
  margin: 0 auto;
  padding: 0 15px;
}

.nice-date {
  padding: 15px;
  font-size: 16px;
  color: $color3;
}

.description {
  padding: $padding-m;
}